*
!.gitignore
!.bashrc
!.bash_profile
!.config
!.config/alacritty
!.config/alacritty/**
!.config/mpd
!.config/mpd/**
!.config/ncmpcpp
!.config/ncmpcpp/**
!.config/sway
!.config/sway/**
!.config/waybar
!.config/waybar/**
!.vim
!.vim/**
!.vimrc
