*
!.gitignore
!.bashrc
!.bash_profile
!.config
!.config/alacritty
!.config/alacritty/**
!.config/gtk-3.0
!.config/gtk-3.0/**
!.config/mpd
!.config/mpd/**
!.config/ncmpcpp
!.config/ncmpcpp/**
!.config/sway
!.config/sway/**
!.config/waybar
!.config/waybar/**
!.gnupg
!.gnupg/gpg-agent.conf
!.vim
!.vim/**
!.vimrc
